[submodule "JUCE"]
	path = JUCE
	url = https://github.com/animatek/JUCE.git
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
